<%= link_to comment.id, post_path(comment.post, anchor: "comment_#{comment.id}") %> on <%= link_to comment.post.title, comment.post %>:

<% if comment.visible %>
  <div><span class="label label-success">Approved</span></div>
<% end %>

<%= render 'posts/comment', comment: comment %>
<% if comment.visible %>
  <%= link_to "Hide comment", decline_admin_comment_path(comment), :class => "btn btn-mini", remote: true %>
<% else %>
  <%= link_to "Show comment", approve_admin_comment_path(comment), :class => "btn btn-mini", remote: true %>
<% end %>
<%= link_to "Edit comment", edit_admin_comment_path(comment), :class => "editar_edit" %>
