<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Your new password for <%= BLOG_CONFIGS["blog_header"] %></h1>
  
  <p>Hi there,</p>
  
  <p>You requested a new password for the website <%= BLOG_CONFIGS["blog_header"] %></p>
  
  <p>You can login in the following url: <%= login_url %></p>
  
  <p>Your new password is: <strong><%= @new_password %></strong>. Your username is <strong><%= @user.username %></strong></p>
  
</body>
</html>
