<%= form_for [:admin, @post], :html => {:class => "no_horizontal"} do |f| %>
  
  <%= form_errors_for @post %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>
  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <pre class="ace_editor" id="editor"></pre>
    <div class="hidden">
      <%= f.text_area :content %>
    </div>
  </div>
  <div class="field">
    <%= f.label :content_type %>
    <%= f.select :content_type, ["markdown", "html"] %>
  </div>
  <div class="field">
    <%= f.check_box :published %><%= f.label :published %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', admin_posts_path %>

<%= javascript_tag do %>
  new Helpers.PostsAceEditorHelper;
<% end %>
