<div id="comment_<%= comment.id %>" class="<%= comment.visible ? "" : "comment_not_approved" %>">
  <% unless comment.visible %>
    <div>
      <span class="label">
        <%= t("comments.awaiting_approval", default: "This comment is waiting for approval") %>
      </span>
    </div>
  <% end %>
  <div class="person_image">
		<%= image_tag comment.person_image, :class => "small_profile_image" %>
  </div>
  <div class="content">
    <div class="person">
      <% unless comment.website.blank? %>
        <%= link_to comment.name, comment.website %>:
      <% else %>
        <%= comment.name %>:
      <% end %>
    </div>
    <div class="the_content">
      <%= comment.content %>
    </div>
  </div>
  <div class="date">
    <%= l comment.created_at, format: :short %>
  </div>
</div>
