<h4>
  <%= t("add_comment", default: "Write comment") %>
</h4>

<%= form_for @comment, remote: true do |f| %>

  <%= f.hidden_field :post_id %>
  
  <%= f.fields_for :person do |p| %>
    <%= render 'posts/person_form', f: p %>
  <% end %>

  <div class="field">
    <%= f.label :content, t("comment", default: "Comment") %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit t("to_comment", default: "Comment"), :disable_with => t("commenting", default: "Adding...") %>
  </div>

<% end %>
