<div class="field">
  <%= f.label :name, t("name", default: "Name") %>
  <%= f.text_field :name, required: true %>
</div>

<div class="field">
  <%= f.label :email, t("email", default: "Email") %>
  <%= f.text_field :email, required: true %>
</div>

<div class="field">
  <%= f.label :website, t("website", default: "Website") %>
  <%= f.text_field :website %>
</div>
