<article class="post">
  <div class="author">
    <%= t "post.author.by", default: "by" %>
    <%= link_to post.author.name, post.author, rel: "author" %>
    <%= t "post.author.on", default: "on" %>
    <time pubdate datetime="<%= post.created_at %>">
      <%= l post.created_at, format: :short %>
    </time>
  </div>

  <div class="title">
    <h3>
      <%= link_to post.title, post %>
    </h3>
  </div>

  <div class="content">
    <%= raw post.content %>
  </div>

  <% if post.can_comment and not params[:action] == "show" %>
    <div class="comments_count">
      <%= link_to_unless_current post.comments.approved.count.to_s + " " + t("post.comments", default: "Comments"), post %>
    </div>
  <% end %>

</article>
