<div class="navbar">
  <div class="navbar-inner">
    <%= link_to "Admin", admin_path, :class => "brand" %>
    <ul class="nav">
      <li <%= admin_navbar_active("posts") %>>
        <%= link_to "Posts", admin_posts_path %>
      </li>
      <li <%= admin_navbar_active("comments") %> >
        <%= link_to "Comments", admin_comments_path %>
      </li>
    </ul>
  </div>
</div>
